---


---

<div class="top-header">
    <div class="top-header__logo">
        <img src="" alt="Klemens Galus" />
    </div>
    <div class="top-header__nav">
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>

<style>
    .top-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        padding-top: 0rem;
    }

    .top-header__logo img {
        width: 100px;
    }

    .top-header__nav ul {
        display: flex;
        gap: 1rem;
    }

    .top-header__nav ul li {
        list-style: none;
    }

    .top-header__nav ul li a {
        text-decoration: none;
        color: #141C3A;
    }